<h1>📜 블로그 글 목록</h1>

<!-- 검색창 시작 -->
<form method="GET" action="{% url 'post_list' %}">
    <input type="text" name="q" placeholder="검색어를 입력하세요" value="{{ request.GET.q }}">
    <button type="submit">검색</button>
</form>
<hr>
<!-- 검색창 끝 -->


{% for post in posts %}
    <div>
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>{{ post.content|truncatewords:20 }}</p>  <!-- 20단어만 미리보기 -->
        <hr>
    </div>
{% empty %}
    <p>아직 작성된 글이 없습니다.</p>
{% endfor %}

<a href="{% url 'post_new' %}">✏️ 새 글 작성</a>